.fontSizeCero{
	font-size: 0;
	margin: 0px;
	padding: 0px;
}

.negocioIzquierdo{
	background: #f5f5f5;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
	display: inline-block;
	height: 10.46em;
	margin-left: 10em;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 35.53em;
}

.negocioDerecho{
	background: #f5f5f5;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
	display: inline-block;
	height: 10.46em;
	margin-left: 4.93em;
	margin-bottom: 1em;
	margin-top: 1em;
	vertical-align: top;
	width: 35.53em;
}

.informacionNegocio{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
	/*margin-top: 0.56em; LO HE OMITIDO PORQUE LOS P YA TIENEN MARGIN Y NO SE NECESITA POR AHORA*/	 
	padding-left: 1.5em;
	vertical-align: top;
	width: 25.66em;
}

.fotoNegocio{
	background: #b2b2b1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
	display: inline-block;
	margin-top: 0.56em;
	height: 9.26em;
	width: 9.26em;
}

.nombreNegocio{
	color: #6F6F6E;
	font-family: GothamLight;
}

.direccion{
	color: #6F6F6E;
	font-family: GothamThin;
}

.descripcion{
	color: #6F6F6E;
	font-family: GothamThin;
}

.figureImagenEstrellas img{
	width: 4.33em;
}