#cubrePantallaSeleccionarNegocio{
	background:  rgba(0, 0, 0, 0.8);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 100
}

#seleccionarNegocio{
	background: #ececec;	
	display: block;
	border-radius: .33em;
	-webkit-border-radius: .33em;
	-moz-border-radius: .33em;
	-o-border-radius: .33em;
	-ms-border-radius: .33em;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 14em; /*CAMBIAR*/
	margin-right: -22em;
	margin-top: -7em;
	padding-top: 9em;
	position: fixed;
	text-align: center;
	top: 50%;
	right: 50%;
	width: 44em;
	z-index: 101;
}

#cajaFondoAzul{
	background: #009ee3;
	border-radius: .33em;
	-webkit-border-radius: .33em .33em 0 0;
	-moz-border-radius: .33em;
	-o-border-radius: .33em;
	-ms-border-radius: .33em;
	position: absolute;
	top: 0;
	width: 100%;
}

.tituloPasosCrearCampana{
	color: white;
}

.seleccionarNegocio{
	margin-top: 0;
	color: #6f6f6e;
}