#cubrePantallaCrearNegocio{
	background:  rgba(0, 0, 0, 0.8);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 100
}

#pantallaCentradaCrearNegocio{
	background: #ececec;	
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
	margin-right: -21em;
	margin-top: -23.16em;
	position: fixed;
	text-align: center;
	top: 50%;
	right: 50%;
	width: 42em;
	z-index: 101;	
}

#tituloRegistroNegocios{
	color: #3c3c3b;
	font-family: GothamBook;
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	text-align: center;
}

#formularioRegistroNegocios{
	margin: 0 auto; 
	width: 34.66em;
}

.inputFormularioNegocios{
	background: white;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 0.33em;
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-o-border-radius: 0.33em;
	-ms-border-radius: 0.33em;	
	color: #009ee3;
	font-family: GothamBook;
	height: 3em;
	margin-bottom: 1.2em;
	outline: none;
	padding: 0px .66em;
	width: 16em;
}

.inputDerechoFormularioNegocios{
	margin-left: 2.66em;
}

.inputMasAncho{
	width: 34.66em;
}

.inputDescripcion{
	height: 6em;
	margin: 0;
	padding: 0.66em;
	resize: none;
	width: 34.66em;
}

#contenedorSubirImagenes{
	height: 8.31em;
	margin: 0 auto;
	margin-bottom: 1.2em;
	margin-top: .8em;
	overflow: hidden;
	position: relative;
	width: 34.66em;
}

#primerFigure{
	left: 0;
	position: absolute;
	width: 9.58em;
}

#primerFigure img{
	width: 100%;
}

#segundoFigure{
	left: 10.58em;
	position: absolute;
	width: 9.58em;
}

#segundoFigure img{
	width: 100%;
}

#tercerFigure{
	left: 21.16em;
	position: absolute;
	width: 9.58em;
}

#tercerFigure img{
	width: 100%;
}

#anadirOtraImagen{
	background: #dadad9;
	height: 8.31em;
	left: 31.74em;
	position: absolute;
	width: 9.58em;
}

#submitRegistrarNegocio{
	background: #3c3c3b;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 0.33em;
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-o-border-radius: 0.33em;
	-ms-border-radius: 0.33em;	
	color: white;
	font-family: GothamBook;
	height: 3em;
	margin-bottom: 2.66em; 
	outline: none;
	padding: 0px .66em;
	width: 34.66em;
}

#submitRegistrarNegocio:hover{
	background: #009ee3;
}

/*CAMBIARLE EL COLOR A PLACEHOLDER*/
.inputFormularioNegocios::-webkit-input-placeholder {
   color: #3c3c3b;
}

.inputFormularioNegocios:-moz-placeholder { /* Firefox 18- */
   color: #3c3c3b;
}

.inputFormularioNegocios::-moz-placeholder {  /* Firefox 19+ */
   color: #3c3c3b; 
}

.inputFormularioNegocios:-ms-input-placeholder {  
   color: #3c3c3b; 
}
/*CAMBIARLE EL COLOR A PLACEHOLDER*/

