#cubrePantallaCostos{
	background:  rgba(0, 0, 0, 0.8);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 100
}

#costosCampana{
	background: #ececec;	
	display: block;
	border-radius: .33em;
	-webkit-border-radius: .33em;
	-moz-border-radius: .33em;
	-o-border-radius: .33em;
	-ms-border-radius: .33em;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 20em; /*CAMBIAR*/
	margin-right: -22em;
	margin-top: -10em;
	padding-top: 9em;
	position: fixed;
	text-align: center;
	top: 50%;
	right: 50%;
	width: 44em;
	z-index: 101;
}

#inputFormularioCostos{
	background: white;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 0.33em;
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-o-border-radius: 0.33em;
	-ms-border-radius: 0.33em;	
	color: #6f6f6e;
	font-family: GothamBook;
	height: 2em;
	margin-bottom: 1.2em;
	outline: none;
	padding: 0px .66em;
	text-align: center;
	width: 11em;
}

#anteriorCostos{
	background: #b2b2b1;
	border-radius: 0 0 0 .33em;
	-webkit-border-radius: 0 0 0 .33em;
	-moz-border-radius: .33em .33em 0 0;
	-o-border-radius: .33em .33em 0 0;
	-ms-border-radius: .33em .33em 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 21.9em;
}

#anteriorCostos p{
	margin: .7em;
}

#anteriorCostos:hover{
	background: #575756;
}

#siguienteCostos{
 	background: #b2b2b1;
	border-radius: 0 0 .33em 0;
	-webkit-border-radius: 0 0 .33em 0;
	-moz-border-radius: 0 0 .33em 0;
	-o-border-radius: 0 0 .33em 0;
	-ms-border-radius: 0 0 .33em 0;
	bottom: 0;
	position: absolute;
	right: 0;
	width: 21.9em;
}

#siguienteCostos p{
	margin: .7em;
}

#siguienteCostos:hover{
	background: #575756;
}