#cubrePantallaDuracion{
	background:  rgba(0, 0, 0, 0.8);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 100
}

#duracionCampana{
	background: #ececec;	
	display: block;
	border-radius: .33em;
	-webkit-border-radius: .33em;
	-moz-border-radius: .33em;
	-o-border-radius: .33em;
	-ms-border-radius: .33em;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 24em; /*CAMBIAR*/
	margin-right: -27.5em;
	margin-top: -12em;
	padding-top: 9em;
	position: fixed;
	text-align: center;
	top: 50%;
	right: 50%;
	width: 55em;
	z-index: 101;
}

#inicioDuracion{		
	color: #3c3c3b;
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 0;
	vertical-align: top;
	width: 50%;
}

#finalDuracion{
	color: #3c3c3b;
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 0;
	vertical-align: top;
	width: 50%;
}

.inputFormularioDuracion{
	background: white;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 0.33em;
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-o-border-radius: 0.33em;
	-ms-border-radius: 0.33em;	
	color: #6f6f6e;
	font-family: GothamBook;
	height: 2em;
	margin-bottom: 1.2em;
	outline: none;
	padding: 0px .66em;
	text-align: center;
	width: 4.5em;
}

#diaInicioInput{
	left: -4em;
	position: relative;
}

#mesInicioInput{
	left: -3em;
	position: relative;
}

#anoInicioInput{
	left: -2em;
	position: relative;
}

#diaFinalInput{
	left: 2em;
	position: relative;
}

#mesFinalInput{
	left: 3em;
	position: relative;
}

#anoFinalInput{
	left: 4em;
	position: relative;
}

#anteriorDuracion{
	background: #b2b2b1;
	border-radius: 0 0 0 .33em;
	-webkit-border-radius: 0 0 0 .33em;
	-moz-border-radius: .33em .33em 0 0;
	-o-border-radius: .33em .33em 0 0;
	-ms-border-radius: .33em .33em 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 27.4em;
}

#anteriorDuracion p{
	margin: .7em;
}

#anteriorDuracion:hover{
	background: #575756;
}

#siguienteDuracion{
 	background: #b2b2b1;
	border-radius: 0 0 .33em 0;
	-webkit-border-radius: 0 0 .33em 0;
	-moz-border-radius: 0 0 .33em 0;
	-o-border-radius: 0 0 .33em 0;
	-ms-border-radius: 0 0 .33em 0;
	bottom: 0;
	position: absolute;
	right: 0;
	width: 27.4em;
}

#siguienteDuracion p{
	margin: .7em;
}

#siguienteDuracion:hover{
	background: #575756;
}