#encabezado{
	background: white;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#encabezadoDivQueCentraContenido{
	margin: 0px auto; 
	width: 79%;
}

#encabezadoFigureQueContieneLogo{
	display: inline-block;
	height: 2.5em;
	margin-top: 0.55em;
	margin-bottom: 0.55em;
}

#encabezadoFigureQueContieneLogo img{
	height: 100%;
}

#encabezadoFormulario{
	display: inline-block;
	margin-left: 3.75%;
	vertical-align: top;
}

#encabezadoCuadroDeBusqueda{
	background: #f5f5f5;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	color: #6f6f6e;
	font-family: GothamBook;
	height: 2.5em;  
	margin-top: 0.5em;
	padding-left: .66em;  
	width: 23.2em;
}

#encabezadoCuadroDeBusqueda:focus{
	outline: none; 
}

#encabezadoFotoPerfil{
	display: inline-block;
	margin-left: 40em;
	margin-top: 0.5em;
	vertical-align: top;
	width: 2.33em;
}

#encabezadoFotoPerfil img{
	border-radius: .3em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	-o-border-radius: .3em;
	-ms-border-radius: .3em;	
	width: 100%;
}

#encabezadoOpciones{
	display: inline-block;
	margin-left: 0.5em;
	margin-top: 0.5em;
	vertical-align: top;
	width: 2.33em;
}

#encabezadoOpciones img{
	width: 100%;
}
