
.catorcePixeles{
	font-size: 14px;
}

.quincePixeles{
	font-size: 15px;
}

.diecisietePixeles{
	font-size: 17px;
}

.veintiunPixeles{
	font-size: 21px;
}

.veinticincoPixeles{
	font-size: 25px;
}

.treintaYDosPixeles{
	font-size: 32px;
}