#principalPortada{
	height: 23.56em;
	padding-top: 3.6em; /*ESTE PADDING SIRVE PARA REPARAR EL ESPACIO QUE DEJA EL POSITION FIXED DEL ENCABEZADO*/
	width: 100%;
}

#principalPortada img{
	width: 100%;
}

#principalOpciones{
	background: white;
	height: 3.6em;
	width: 100%;
}

#principalPerfil{
	left: 4.33em;
	position: absolute;
	top: 18.5em;
	width: 14em;
}

#principalPerfil img{		
	border: .3em solid white;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	width: 100%;
	z-index: 1;
}
